.mfa__container {
  display: flex;
  flex-direction: column;
}

.mfa__option {
  flex: 1;
}

@media (min-width: 780px) {
  .mfa__container {
    flex-direction: row;
    gap: 1rem;
  }
}

.pill {
  margin-bottom: 20px;
  margin-left: 10px;
  width: 10%;
  max-width: 320px;
  background-color: #e9573f;
  color: #ffffff;
  transition-duration: 0.25s;
  transition-property: opacity;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  display: inline-block;
}


.pill-header {
  display: inline-block;
}