<% @title = t(".title") %>

<div class="t-body">
  <h2><%= t(".authenticated_as") %> <%= @user.name %></h2>
  <p><%= t(".enter_otp") %></p>
  <div class="clipboard--otp">
    <input type="text" class="clipboard--otp__text" id="webauthn_otp" value="<%= @webauthn_otp %>" readonly="readonly">
    <span class="clipboard--otp__icon" data-clipboard-target="#webauthn_otp">=</span>
  </div>
</div>
