<h1>MFA Dashboard</h1>
<h2>&gt;=180M Downloads</h2>
<p><%= @users_mfa_required %></p>

<h2>&gt;=165M &amp;&amp; &lt; 180M Downloads</h2>
<p><%= @users_mfa_recommended %></p>

<h2>&lt;165M Downloads</h2>
<p><%= @users_no_mfa_policy %></p>