<div class="l-flex l-mb-4">
  <div class="t-text l-mr-2"><%= webauthn_credential.nickname %></div>
  <%= button_to t(".delete"), webauthn_credential, method: :delete, class: "form__submit form__submit--small" %>
</div>
